@import url(./basic-styles.css);

/* lesson styles */

.container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 150px);
  height: 500px;
  border: 10px solid #000;
  /* justify-items: stretch; */
  /* align-items: stretch; */
  /* justify-content: space-between; */
  align-content: space-around;
}

.grid-item:nth-child(4) {
  justify-self: stretch;
  align-self: stretch;
}
